.container-for-grid {
  display: flex;
  justify-content: center;
}

.create-spot-button {
  margin-top: 0px;
  color: white;
  background-color: darkgrey;
}

.h1-and-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-start;
  text-align: flex-start; */
}

h1 {
  margin-left: 0;
  margin-bottom: 5px;
}

  .spots-grid {
      display: grid;
      width: fit-content;
      max-width: 870px;
      min-width: 206px;
      grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
      gap: 15px;
  }

  .tooltip {
      position: relative;
      display: inline-block;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: white;
      color: red;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    .manage-spots {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
