form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin: 5px;
  }

  button {
    margin: 5px;
    width: 80%;
  }

  .signup-button.true {
    background-color: lightgray;
    color: darkgrey;
  }

  .signup-button.false {
    background-color: red;
    color: white
  }

  #signup-modal-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
