.hidden {
    display: none;
}

#nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
}


#logo-home-button {
    height: 80px;
    width: 120px;
    background-image: url("./unicornImage.jpg");
    margin: 10px;
    display: inline;
}

#profile-button {
    margin-right: 10px;
}
