ul.hidden {
    display: none;
}

.menu-button-inner {
    width: 80%;
    justify-content: space-around;
}

.flex-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #CCCCCC;
    align-items: center;
}

.fa-building {
    height: 60px;
}

#logo-home-button {
    height: 80px;
    width: 185px;
    background-image: url(./RedUnicornLogo.JPG);
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: inline;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}

#profile-button {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#manage-spots-button {
    color: black;
    background-color: white;
    border: 1px solid white;
    width: 100%;
}

.menu-button {
    background-image: url("./updatedSandwichLogo.JPG");
    background-size: cover;
    background-position: center;
    height: 45px;
    width: 85px;
    border-radius: 12px;
}

ul {
    list-style-type: none;
}

li {
    margin-left: -2.5em;
}

.clickable {
    cursor: pointer;
}

.profile-dropdown li {
    margin-left: 5px;
    margin-right: 5px;
}

.profile-dropdown {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.logout-button {
    color: white;
    background-color: #999999;
    border: 1px solid black;
    border-radius: 12px;
}

.create-new-spot-profile-button {
    display: flex;
    flex-direction: row;
}

#create-spot-button {
    background-color: white;
    border: 1px solid white;
    padding-top: 5px;
}
